<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Film Details</h1>

    <% if (found) { %>
        <% movies.forEach(movie => { %>
            <div>
                <% found %>
                <p>Title: <%= movie.title %></p>
                <p>Rating: <%= movie.rating %></p>
                <p>Release Year: <%= movie.release_year %></p>
            </div>
        <% }); %>
    <% } else { %>
        No movies found
    <% } %>
</body>
</html>
